.sidebar {
  height: 100vh;
  background: #1a1a1a;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.collab-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collab-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.collab-list {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  object-fit: cover;
}


.collab-list .me {
  font-weight: bold;
  background-color: #e6f7ff;
}